In [10]:
import pandas as pd
import numpy as np
import ipyvolume as ipv

In [11]:
url = 'http://bit.ly/drinksbycountry'
data = pd.read_csv(url)
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
data.iloc[:, 1:4] = sc.fit_transform(data.iloc[:, 1:4])

In [44]:
fig = ipv.figure()
scatter = ipv.scatter(data['beer_servings'], data['spirit_servings'], data['wine_servings'],
                      color = 'red', size = 2, marker= 'sphere')
ipv.show()

VBox(children=(Figure(camera=PerspectiveCamera(fov=45.0, position=(0.0, 0.0, 2.0), quaternion=(0.0, 0.0, 0.0, …

### Ipywidgets

In [46]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [48]:
url = 'http://bit.ly/drinksbycountry'
df = pd.read_csv(url)
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [50]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
beer_servings,193.0,106.160622,101.143103,0.0,20.0,76.0,188.0,376.0
spirit_servings,193.0,80.994819,88.284312,0.0,4.0,56.0,128.0,438.0
wine_servings,193.0,49.450777,79.697598,0.0,1.0,8.0,59.0,370.0
total_litres_of_pure_alcohol,193.0,4.717098,3.773298,0.0,1.3,4.2,7.2,14.4

In [135]:
@interact
def beerservings_greaterthan_150(columns = list(df.columns)[1:5] , x = 438, continent = df['continent']):
    return df[(df[columns] >= x) & (df['continent'] == continent)]

interactive(children=(Dropdown(description='columns', options=('beer_servings', 'spirit_servings', 'wine_servi…

In [66]:
import seaborn as sns

In [81]:
@interact
def scatter_plot(x=list(df.select_dtypes('number').columns), y=list(df.select_dtypes('number').columns)):
    sns.relplot(kind='scatter', x=x, y=y, data = df, color = 'red')

interactive(children=(Dropdown(description='x', options=('beer_servings', 'spirit_servings', 'wine_servings', …

In [87]:
@interact
def describe(column=list(df.columns)):
    print(df[column].describe())

interactive(children=(Dropdown(description='column', options=('country', 'beer_servings', 'spirit_servings', '…

In [88]:
@interact
def correlations(column1=list(df.select_dtypes('number').columns), 
                 column2=list(df.select_dtypes('number').columns)):
    print(f"Correlation: {df[column1].corr(df[column2])}")

interactive(children=(Dropdown(description='column1', options=('beer_servings', 'spirit_servings', 'wine_servi…

In [89]:
widgets.DatePicker(
    description='Pick a Date',
    disabled=False
)

DatePicker(value=None, description='Pick a Date')

In [112]:
url = 'http://bit.ly/uforeports'
data_ufo = pd.read_csv(url)
data_ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [113]:
data_ufo.shape

(18241, 5)

In [114]:
type(data_ufo['Time'][0])

str

In [115]:
data_ufo['Time'] = pd.to_datetime(data_ufo['Time']).dt.date

In [116]:
data_ufo.head()

                   City Colors Reported Shape Reported State        Time
0                Ithaca             NaN       TRIANGLE    NY  1930-06-01
1           Willingboro             NaN          OTHER    NJ  1930-06-30
2               Holyoke             NaN           OVAL    CO  1931-02-15
3               Abilene             NaN           DISK    KS  1931-06-01
4  New York Worlds Fair             NaN          LIGHT    NY  1933-04-18

In [118]:
type(data_ufo['Time'][0])

datetime.date

In [119]:
data_ufo['Time'].min()

datetime.date(1930, 6, 1)

In [120]:
data_ufo['Time'].max()

datetime.date(2000, 12, 31)

In [134]:
@interact
def get_data_between_1930to2000(start_date = widgets.DatePicker(value=pd.to_datetime('1930-06-01')),
                                end_date = widgets.DatePicker(value=pd.to_datetime('2000-12-31'))):
    return data_ufo[(data_ufo['Time'] >= start_date) & (data_ufo['Time'] <= end_date)]

interactive(children=(DatePicker(value=Timestamp('1930-06-01 00:00:00'), description='start_date'), DatePicker…